.Page01 {
    border: solid;
    height: 500px;
    background-color: rgba(95, 93, 93, 0.212);
}

.image-ronde {
    width: 150px;
    height: 150px;
    border: none;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    margin-left: 50px;
    margin-top: 20px;
}

.Body_button_left {
    text-align: left;
    margin-left: 50px;
    margin-top: 50px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(44, 0, 220);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.Body_button_left:hover {
    background-color: rgba(25, 0, 200, 1);
}

.Body_button_left:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
}